.checkout {
  display: flex;
  padding: 20px;
  background-color: white;
  height: max-content;
}

.checkout__left{
  width: auto;
  /* margin-left: 10px; */
}

.checkout__right{
  display: flex;
  top:0;
  /* padding-right:; */
  float: right;
}
.checkout__title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}